:root{
    --bleuDeNuit : #091E3E ;
    --bleuclair : #06A3DA ;
    --blanc  : white ; 
    --bleuPlusClair : #EEF9FF;
    --gris:#ADB1C0;
}
/* *{
    border: 1px solid red;
} */
body{
    margin: 0;
    display: grid;
    grid-template-rows: auto auto ;
    font-family: Verdana;
    font-size: 14px;
    padding: 0;
 }


 /* -------------------------------HEADER------------------------------------------------------------ */
header{
    background: linear-gradient(0deg, #04061bb0, #04061bb0), url("./images/carousel-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    /* height: 130vh; */


}
/* -------------------------------DESIGN DE LA BANIERE--------------------------------- */
header .banner{
    background-color: var(--bleuDeNuit);
    color:var(--blanc) ;
    display: flex;
    justify-content: space-between;
}

header .banner .bannerLeft{
    display: flex;
    float: left;
    margin: 10px 40px 0 40px;

}
header .banner .bannerLeft .infos{
    font-size: 10px;
    margin: 10px;
}
header .banner .bannerRight{
    display: flex;
    margin: 0px 40px ;
}
header .banner .bannerRight ul{
    display: flex;
    float: left;
}
header .banner .bannerRight ul li{
   list-style: none;
   margin-left: 10px;
   border-radius: 50%;
   padding: 5px 7px;
   border: 1px solid var(--blanc);

}
header .banner .bannerRight ul li a{
   color: var(--blanc);
}
/* ---------------------------DESIGN DU MENU ET LOGO----------------------------- */
header .menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--blanc);
}
.fa-user-tie{
    margin-right: 10px;
    font-size: 27px;
    
}
header .menu .logo span{
    font-size: 23px;
    font-weight: bold;
}
header .menu .logo , header .menu .menuItems {
    margin: 10px 40px 10px 40px ;
    color: var(--blanc);

}
header .menu .menuItems ul  {
    margin: 10px 40px ;
    display: flex;
    justify-content: space-between;
    margin: 0;


}
header .menu .menuItems ul li{
    list-style-type: none;
    padding: 8px;
    margin: 0;
    color: var(--blanc);


    
}
header .menu .menuItems ul li a {
    color: var(--blanc);
    font-size: 13px;
    text-decoration: none;
    font-weight: 100;

}
header .menu .menuItems ul li a i{
    color: var(--orange);
    margin-left: 10px;

}

.fa-magnifying-glass{
    color: var(--bleuclair);
}
header .menu .menuItems ul li button{
    background-color: var(--bleuclair);
    padding: 10px 20px;
    color: white;
    border: none;
    margin-top: -10px;
}
/* header .menu .menuItems ul li .active{
    color: var(--bleuclair);
    position: relative;
    border-bottom: 1px solid var(--bleuclair);
} */
/* ---------------------------DESIGN DU TEXTE DANS LE HEADER----------------------------- */
header .texte{
margin: 10% auto;
width: 80%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

font-size: 30px;
}
header .texte p , header .texte h1{
    color: var(--blanc);
    text-align: center;

}
header .texte .buttons button{
    color: var(--blanc);
    padding: 10px 20px;
    margin: 0 10px;
    
}
header .texte .buttons button:nth-child(1){
    border: none;
    background-color: var(--bleuclair);


}
header .texte .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--blanc);



}
/* ---------------------------DESIGN DU MAIN----------------------------- */
section{
    margin-top: 30px;
}
main .cards{
    display: flex;
    justify-content: center;
    position: relative;
    top: -35px;
    
}
main .cards .card {
    display: flex;
    align-items: center;
    background-color: var(--bleuclair);
    padding: 30px 50px;
    /* width: 20%; */

}
main .cards .card .icon{
    background-color:var(--blanc);
    padding: 10px;
    color: var(--bleuclair);
    margin-right: 20px;

}
main .cards .card .body-card{
    color: var(--blanc);

}
main .cards .card .body-card p{
    margin: 0;

}
main .cards .card .body-card p:nth-child(2){
    font-size: 20px;
    margin: 0;
    font-weight: bold;

}
main .cards .card .body-card p:nth-child(1){
    font-size: 10px;

}
/* 2eme card */
main .cards .card:nth-child(2){
    background-color: var(--bleuPlusClair);
    color: var(--bleuclair);

}
main .cards .card:nth-child(2) .icon{
    background-color: var(--bleuclair);
    color: var(--blanc);

}
main .cards .card:nth-child(2) .body-card{
    color: var(--bleuclair);

}
main .cards .card:nth-child(2) .body-card p:nth-child(2){
    color: black;

}

/* section 2 */
#section2 h3, #section3 h3 ,#section4 h3 , #section5 h3 ,#section6 h3{
    text-align: center;
    line-height: 30px;
}

#blue-texte{
    text-align: center;
    color: var(--bleuclair);
    margin-bottom: -15px;
    font-weight: bold;
}

/* #section2 #hrs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

} */
/* soulignement */
 #hrs{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#hrs hr{
    height: 2px;
    display: inline-block;
    border: none;
    background-color: var(--bleuclair);
    text-align: center;
}
#hrs hr:nth-child(1){
    width: 7%;
    margin: 0;
}
 hr:nth-child(2){
    width: 3%;
    margin: 0;

}
main .cards-section2 .line .card , main .clients .client{
    background-color: var(--bleuPlusClair);
    padding: 20px 30px;
    text-align: center;
    
}
main .cards-section2 .line , .blogs {
    color: black;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 25px auto;


}
main .cards-section2 .line .card .icon {
    background-color: #06A3DA;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    justify-content: center;
    margin: 0 auto;
}
main .cards-section2 .line .card .icon i{
    transform:rotate(-45deg); /* Annule la rotation du div */
    justify-content: center;
    color: var(--blanc);
    position: relative;
    top: 5px;
    left:-1px ;
}
main .cards-section2 .line .card .body-card p{
    font-size: 10px;
    font-weight: lighter;
}
#card2{
    background-color: var(--bleuclair);
    color: var(--blanc);
}
#number{
    font-size: 20px;
    margin: 0;
}

/* section 3 prices */
main #section3 .prices , main .clients  {
    color: black;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 25px auto;


}

main #section3 .prices .price {
    background-color: var(--bleuPlusClair);
    padding: 20px 30px;
    justify-content: start;    
}
main #section3 .prices .price .pricing-price{
    display: flex;
    font-weight: bold;
    padding: 0;
    margin: 0;

}
main #section3 .prices .price .pricing-price .dollar-indice {
    font-size: 19px;
}

main #section3 .prices .price .pricing-price .the-price{
    font-size: 35px;
    padding: 0;
    margin: 15px 0;
    background-color: transparent;

}
main #section3 .prices .price .pricing-price .the-price .month{
    font-size:10px ;

}
main #section3 .prices .price .pricing-body .pricing-body-line{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
main #section3 .prices .price .pricing-body .pricing-body-line .fa-check{
    color: var(--bleuclair);
}
main #section3 .prices .price .pricing-body .pricing-body-line .fa-xmark{
    color: red;
}
main #section3 .prices .price #buttons button{
    background-color: var(--bleuclair);
    padding: 10px 20px;
    border: none;
    color: white;

}
main #section3 .prices .price:nth-child(2) , main .clients .client:nth-child(2) {
    padding: 20px 30px;
    justify-content: start;    
    box-shadow: 5px 5px 7px #cccccc91;
    transform: scaleX(1);
    background-color: var(--blanc);
}

/* section 4 */
#section4 .clients .client .client-header .client-image img{
    width:50px;
    height: 50px;

}
#section4 .clients .client .client-header{
    display: flex;
    
}
#section4 .clients .client .client-header .client-name{
    margin-left: 20px;
    
}
#section4 .clients .client .client-header .client-name p:nth-child(1) , .portfolios .ligne .portfolio .portfolio-title{
    font-size: 15px;
    margin-top: 0;
    color: var(--bleuclair);   
}
#section4 .clients .client .client-header .client-name p:nth-child(2) , .portfolios .ligne .portfolio .portfolio-body{
    color: var(--gris);   
    text-align: start;
    margin-top: -10px;
    font-size: 12px;
    
}
#section4   .clients .client .client-body p{
    color: var(--gris);   
    text-align: start;
    font-size: 10px;
    line-height: 15px;
    
}

/* --------------section 5---------------- */
.portfolios {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
.portfolios .ligne{
    display: grid;
    grid-template-columns: auto auto auto ;
    z-index: 1;
    margin-bottom: 17px;

}

.portfolios .ligne .portfolio{
    background-color: var(--bleuPlusClair);
    border-radius: 5px;
    box-shadow: 7px 7px 2px var(--gris-clair);
    margin-right: 150px;
    width: 93%;
}
.portfolios .ligne .portfolio .portfolio-title , .portfolios .ligne .portfolio .portfolio-body {
    text-align: center;
}
.portfolios .ligne .portfolio .portfolio-image {
    width: 100%;
}
.portfolios .ligne .portfolio .portfolio-image img{
    width: 100%;
}

/* -----------------SECTION 6--------------------- */

.blogs .blog .blog-body {
    background-color: var(--bleuPlusClair);
    padding: 10px 30px;
    justify-content: start;

}

.blogs .blog  .image-blog{
   height: 30vh;
   background-size: cover;
}
.blogs .blog  #blog1{
    background-image: url("images/blog-1.jpg");

}
.blogs .blog  #blog2{
    background-image: url("images/blog-2.jpg");

}
.blogs .blog  #blog3{
    background-image: url("images/blog-3.jpg");

}

.blogs .blog .blog-body .blog-title{
    color: var(--bleuDeNuit); 
    font-size: 17px;
    margin-top: -10px;
}
.blogs .blog .blog-body .blog-infos i , .blogs .blog .blog-body .read-more{
    color: var(--bleuclair); 

}
.blogs .blog .blog-body .blog-infos span{
    color: var(--gris); 
}

.blogs .blog .blog-body .blog-texte{
    color: var(--gris); 
    font-size: 12px;
    margin-top: -10px;

}
#web-design{
    background-color: var(--bleuclair);
    padding: 10px 13px ;
    width: 30%;
    position: relative;
    top: 30px;
}
/* RESPONSIVITE */

@media screen and (width <= 768px) {
    body{
        margin: 0;
    }
    main .cards , main #section3 .prices , main .clients ,main .cards-section2 .line ,.blogs  {
        display: grid;
        grid-template-columns: 30%;
        width: auto;
    }
    .portfolios .ligne{
        grid-template-columns: 50%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }
    main .cards .card , main .cards-section2 .line .card , .portfolios .ligne .portfolio{
        margin-bottom: 10px;
        
    }
    main #section3 .prices .price{
        width: 200px;
    }
    
    
}

