:root{
    --bleuDeNuit : #091E3E ;
    --bleuclair : #06A3DA ;
    --blanc  : white ; 
    --bleuPlusClair : #EEF9FF;
    --color: #f2fbff;
    --colo:#06A3DA;
} 
html{  
    /* pour gerer la lenteur */
    scroll-behavior: smooth;
    /* pour gerer le défilement vertical et spéciffier les arret */
    scroll-snap-type: y mandatory;
    /* pour que l'arret prends la section entière */
    scroll-padding-top: 70px;
    /* la transition */
    transition: scroll-snap-align 3s ease-in-out;
}
/* *{
    border: 1px solid red;
} */
body{
    margin: 0;
    display: grid;
    grid-template-rows: auto auto ;
    font-family: Verdana;
    font-size: 14px;
    padding: 0;
 }

 /* -------------------------------HEADER------------------------------------------------------------ */
 header{
    background: linear-gradient(0deg, #04061bb0, #04061bb0), url("image/w.PNG");
    background-size: cover;
    height: 50vh;


}
/* -------------------------------DESIGN DE LA BANIERE--------------------------------- */
header .banner{
    background-color: var(--bleuDeNuit);
    color:var(--blanc) ;
    display: flex;
    justify-content: space-between;
}

header .banner .bannerLeft{
    display: flex;
    float: left;
    margin: 10px 40px 0 40px;

}
header .banner .bannerLeft .infos{
    font-size: 10px;
    margin: 10px;
}
header .banner .bannerRight{
    display: flex;
    margin: 0px 40px ;
}
header .banner .bannerRight ul{
    display: flex;
    float: left;
}
header .banner .bannerRight ul li{
   list-style: none;
   margin-left: 10px;
   border-radius: 50%;
   padding: 5px 7px;
   border: 1px solid var(--blanc);

}
header .banner .bannerRight ul li a{
   color: var(--blanc);
}
/* ---------------------------DESIGN DU MENU ET LOGO----------------------------- */
header .menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--blanc);
}
.fa-user-tie{
    margin-right: 10px;
    font-size: 27px;
    
}
header .menu .logo span{
    font-size: 23px;
    font-weight: bold;
}
header .menu .logo , header .menu .menuItems {
    margin: 10px 40px 10px 40px ;
    color: var(--blanc);

}
header .menu .menuItems ul  {
    margin: 10px 40px ;
    display: flex;
    justify-content: space-between;
    margin: 0;


}
header .menu .menuItems ul li{
    list-style-type: none;
    padding: 8px;
    margin: 0;
    color: var(--blanc);


    
}
header .menu .menuItems ul li a {
    color: var(--blanc);
    font-size: 13px;
    text-decoration: none;
    font-weight: 100;

}
header .menu .menuItems ul li a i{
    color: var(--orange);
    margin-left: 10px;

}

.fa-magnifying-glass{
    color: var(--bleuclair);
}
header .menu .menuItems ul li button{

    background-color: var(--bleuclair);
    padding: 10px 20px;
    color: white;
    border: none;
    margin-top: -10px;
}
.submenu {
    display: none!important;
    background-color: #06A3DA;
    margin: 0 !important;
}
.submenu li a{
    margin-left: -45px;


}

.has-submenu.active .submenu {
    display: block !important;
}
/* ---------------------------DESIGN DU TEXTE DANS LE HEADER----------------------------- */
header .texte{
margin: 5% auto;
width: 80%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

}
header .texte p , header .texte h1{
    color: var(--blanc);
    text-align: center;

}
header .texte .buttons button{
    color: var(--blanc);
    padding: 10px 20px;
    margin: 0 10px;
    
}
header .texte .buttons button:nth-child(1){
    border: none;
    background-color: var(--bleuclair);


}
header .texte .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--blanc);



}
.blog{
    border: 1px solid #000;
}
.categories{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    width: 87%;
    margin-top: 3%;
}
.part1{
    /* border: 1px solid #000; */
    width: 50%;
    margin-top: 1%;
    margin-left: 7%;
}
.comment{
    display: flex;
    margin: 0%;
    padding-bottom: 0%;
}
hr{
    width: 5%;
}
.comment img{
    width: 100%;
    margin: 0%;
}
.comment span{
    
}
.comment button{
    margin-top: 2%;
}
.forme form{
    background-color: var(--color);
}
form{
    justify-content: center;
}
.forme input{
    justify-content: center;
    border: none;
    padding: 5px;
    width: 40%;
}
textarea{
    border: none;
}
.forme button{
    background-color:rgb(140, 198, 245) ;
    margin-left: 2%;
    width: 80%;
    background-color: rgb(9, 102, 243);
    margin-top: 0%;
    border: none;
    padding: 5px;
}
.part2{
    margin: 1%;
    width: 40%;
    /* border: 1px solid #000; */
}
.part2 hr{
    width: 10%;
    display: flex;
    justify-content: space-between;
    
}
.part2 i{
    background-color: rgb(15, 119, 216);
    padding-bottom: 3px;
}
#search{
    width: 95%;
    padding: 2px;
}
.fa-solid {
    padding: 2px; 
}
.dev i{
    margin-left: 5%;
    padding-bottom: 6px;
    background-color: var(--color);
}
.part2 .dev span{
}
.metier{
    /* border: 1px solid #000; */
    width: 100%;
    background-color: var(--color);

}
.post{
    display: flex;
    margin-bottom: 2%;
    background-color: var(--color);
}
.post .gr{
    width: 20%;
}
 .gr img{
    width: 100%;
    height: 100%;
}
.spa span{
    margin-left: 2%;
}

.cloud span{
    background-color:rgb(140, 198, 245) ;
}
.plain p{
    background-color: rgb(140, 198, 245) ;
    /* border: 1px solid #000; */
    padding: 5%;
}
.plain p{
    text-align: justify;
}
button{
    margin: 5%;
}
.boutique{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.boutique img{
    width: 90%;
    margin: 1%;
}
/* *************footer******************* */
footer{
    border: 1px solid #000;
    background-color: var(--bleuDeNuit);
}
.container{
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;

}
.Startup{
    border: 1px solid #000;
    background-color: var(--bleuclair);
    width: 20%;
    padding-bottom: 20px;
}
.Startup h1{
    color: white;
    margin-top: 10%;
    text-align: center;
}
.Startup p{
    color: white;
    width: 90%;
    margin: 5%;
    text-align: justify;
    font-size: 13px;
}
.mail{
    display: flex;
    margin-top:-7%;

}
.Startup input{
    margin-left:5%;
    border: 1px solid #000;
    height: 30%;
    padding-top: 4%;
    margin-top: 4%;
}
.Startup button{
    margin-left: 0%;
    border: 1px solid #000;
    padding-top: 5px;
    margin-top: 4%;
    padding-right: 9px;
    padding-left: 3px;
    padding-bottom: 5px;
    background-color: var(--bleuDeNuit);
    color: white;
    
}
.touch{
    width: 15%;
    margin-left: -10%;
    margin-top: 1%;
}
.touch h2{
    color: white;
}
.touch p{
    color: white;
    font-size: 12px;
    margin-top: 3%;
}
.icone{
    display: flex;
    margin-top: 5%;
    height: 8%;
}
.tw,.face,.lin,.ins{
    margin-left: 2%;
    background-color: white;
}
.quick{
    margin-top: 5%;
    margin-left: -50%;
    width: 100%;
}
.quick i{
    font-size: 10px; 
}
.quick h2{
    color: white;
}
.quick li {
    list-style: none;
}
.quick a{
     text-decoration: none;
     color: white;
     font-size: 12px;

}
.pop{
    /* border: 1px solid #000; */
    margin-top: 0%;
    margin-left: -20%;
    padding-left: 50px;
}
.pop i{
    font-size: 10px;
}
.pop h2{
    color: white;
    margin-top: 5%;
    
}
.pop li {
    list-style: none;
}
.pop a{
     text-decoration: none;
     color: white;
     font-size: 12px;
}
.pein{
    background-color:rgb(3, 3, 29) ;
    margin-top: -3%;
    padding: 14px;
}
.pein p{
    text-align:right;
    margin-right: 20%;
    font-size: 13px;
    color: white;
}
/* ***************responsivité**************** */
/* Styles pour les écrans de taille moyenne */
/* 